*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black !important;
    font-family: 'New Tegomin', serif !important;
}
.container{
    color: beige;
    text-align: center;
    margin-bottom: 25px;
    position: absolute;
    top: 0;
    width: 100% !important;
}
.menu-icon{
    margin: 30px auto;
    margin-bottom: 10px;
}
.material-icons{
    font-size: 60px !important;
    cursor: pointer;
    color: #beec4c;
    transition: transform 2s;
}
.material-icons:hover{
    transform: rotate(180deg);
}
.menu-block{
    height: 550px;
    border: 2px solid #b5efa7;
    /* box-shadow: 0 5px 10px 0 #e84a5d; */
    box-shadow: 0 8px 17px 0 #347ab7;
    cursor: pointer;
}
.menu-block:hover{
    background:#373837;
}
.about-container{
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    transition: 1s;
}
.about-container:hover{
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}
.project-container{
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    transition: 1s;
}
.project-container:hover{
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
.blog-container{
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    transition: 1s;
}
.blog-container:hover{
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}
.contact-container{
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    transition: 1s;
}
.contact-container:hover{
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
.menu-block h1{
    margin-top: 90%;
    color: #beec4c;

}
#particles-js{
    height: 100%;
    width: 100%;
}
.menu-block a{
    text-decoration: none !important;
}
.menu-hr{
    margin: 0 auto;
    width: 20%;
}
.leaf div{
    position: absolute;
    width: 30px;
    height: 30px;
    /* border: 1px solid white; */
    background: transparent;
    /* border-radius: 250px 0; */
}
.leaf div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.leaf div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.leaf div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.leaf div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.leaf div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.leaf div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.leaf div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.leaf div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.leaf div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.leaf div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 1;
    }
}
