*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black !important;
    font-family: 'New Tegomin', serif !important;
}
.container{
    color: beige;
    text-align: center;
    margin-bottom: 25px;
}
.menu-icon{
    margin: 30px auto;
}
.material-icons{
    font-size: 40px !important;
    cursor: pointer;
}
.menu-block{
    height: 550px;
    border: 2px solid rgb(161, 161, 161);
}
.menu-hr{
    margin: 0 auto;
    width: 20%;
}
footer{
    border-bottom: 2px solid wheat;
}
